body {
  background-color: #dde5ee;
  margin: 0;
}

nav i {
    color: #0199ff;
    font-size: 30px;
    border: none;
}

.icone-sacola-de-compras {
    padding: 15px;
}

.menu {
    transform: translate(-100%);
    transition: transform 0.3s ease;
    z-index: 1000;
}

.menu.visual {
    transform: translate(0);
}

h2 {
  color: #044b64fb;
}

footer {
  background-color: #0e0e10f5;
  color: #dde5ee;
}

footer .subtopicos {
  color: #01bbff;
}

.direitos {
  text-align: center;
}

